.AOD_094_3      { stroke:none; fill: rgb(156,2,20) }
.AOD_087_094	{ stroke:none; fill: rgb(219,10,7) }
.AOD_081_087    { stroke:none; fill: rgb(247,23,7) }
.AOD_074_081	{ stroke:none; fill: rgb(255,83,36) }
.AOD_068_074    { stroke:none; fill: rgb(240,116,0) }
.AOD_061_068    { stroke:none; fill: rgb(242,149,0) }
.AOD_055_061    { stroke:none; fill: rgb(247,212,35) }
.AOD_049_055    { stroke:none; fill: rgb(255,234,128) }
.AOD_042_049 	{ stroke:none; fill: rgb(191,200,64) }
.AOD_036_042 	{ stroke:none; fill: rgb(172,162,57) }
.AOD_029_036	{ stroke:none; fill: rgb(128,128,128) }
.AOD_023_029    { stroke:none; fill: rgb(118,159,188) }
.AOD_016_023    { stroke:none; fill: rgb(190,216,233) }
.AOD_01_016	{ stroke:none; fill: rgb(234,242,248) }
