.DroughtCode_0_200      { stroke:none; fill: rgb(255,234,128) }
.DroughtCode_200_400    { stroke:none; fill: rgb(245,180,0) }
.DroughtCode_400_600    { stroke:none; fill: rgb(240,116,0) }
.DroughtCode_600_800    { stroke:none; fill: rgb(247,23,7) }
.DroughtCode_800_1000   { stroke:none; fill: rgb(156,2,20) }
