.Evaporation_50_inf    	{ stroke:none; fill: rgb(247,23,7) }
.Evaporation_40_50     	{ stroke:none; fill: rgb(240,116,0) }
.Evaporation_30_40     	{ stroke:none; fill: rgb(247,212,35) }
.Evaporation_20_30     	{ stroke:none; fill: rgb(255,255,0) }
.Evaporation_15_20    	{ stroke:none; fill: rgb(180,220,0) }
.Evaporation_10_15     	{ stroke:none; fill: rgb(154,200,50) }
.Evaporation_8_10      	{ stroke:none; fill: rgb(0,103,140) }
.Evaporation_6_8     	{ stroke:none; fill: rgb(2,123,163) }
.Evaporation_4_6	{ stroke:none; fill: rgb(0,155,186) }
.Evaporation_2_4	{ stroke:none; fill: rgb(34,188,212) }
.Evaporation_1_2	{ stroke:none; fill: rgb(103,219,230) }
.Evaporation_inf_1	{ stroke:none; fill: rgb(130,130,130) } 
