.Evaporation_000_001        { stroke:none; fill: rgb(212,255,255) }
.Evaporation_001_002        { stroke:none; fill: rgb(200,241,251) }	
.Evaporation_002_004        { stroke:none; fill: rgb(189,228,247) }  
.Evaporation_004_006        { stroke:none; fill: rgb(178,214,243) }		
.Evaporation_006_008        { stroke:none; fill: rgb(167,201,239) }
.Evaporation_008_010        { stroke:none; fill: rgb(156,187,235) }	
.Evaporation_010_015        { stroke:none; fill: rgb(145,174,231) }	
.Evaporation_015_020        { stroke:none; fill: rgb(133,161,227) }	
.Evaporation_020_025        { stroke:none; fill: rgb(122,147,223) }	
.Evaporation_025_030        { stroke:none; fill: rgb(111,134,219) }	
.Evaporation_030_035        { stroke:none; fill: rgb(100,120,215) }	
.Evaporation_035_040        { stroke:none; fill: rgb(89,107,211) }	
.Evaporation_040_045        { stroke:none; fill: rgb(78,93,207) }	
.Evaporation_045_050        { stroke:none; fill: rgb(67,80,203) }
.Evaporation_050_055        { stroke:none; fill: rgb(55,67,199) }
.Evaporation_055_060        { stroke:none; fill: rgb(44,53,196) }
.Evaporation_060_070        { stroke:none; fill: rgb(33,40,192) }
.Evaporation_070_080        { stroke:none; fill: rgb(22,26,188) }
.Evaporation_080_090        { stroke:none; fill: rgb(11,13,184) }
.Evaporation_090_100        { stroke:none; fill: rgb(0,0,180) }
.Evaporation_100_inf	    { stroke:none; fill: rgb(0,0,140) }
