.Particulatematter_inf_20     { stroke:none; fill: rgb(255,255,255)}
.Particulatematter_20_30      { stroke:none; fill: rgb(235,252,207) }
.Particulatematter_30_40      { stroke:none; fill: rgb(204,255,208) }
.Particulatematter_40_50      { stroke:none; fill: rgb(138,237,187) }
.Particulatematter_50_60      { stroke:none; fill: rgb(5,179,138) }
.Particulatematter_60_80      { stroke:none; fill: rgb(5,160,170) }
.Particulatematter_80_100     { stroke:none; fill: rgb(2,123,163) }
.Particulatematter_100_150    { stroke:none; fill: rgb(10,100,190) }
.Particulatematter_150_200    { stroke:none; fill: rgb(0,80,171) }
.Particulatematter_200_300    { stroke:none; fill: rgb(50,60,196) }
.Particulatematter_300_500    { stroke:none; fill: rgb(0,0,255) }
.Particulatematter_500_inf    { stroke:none; fill: rgb(0,0,0) }

