.Particulatematter_inf_10    { stroke:none; fill: rgb(0,255,0)}
.Particulatematter_10_25     { stroke:none; fill: rgb(0,212,35) }
.Particulatematter_25_35     { stroke:none; fill: rgb(34,139,34) }
.Particulatematter_35_40     { stroke:none; fill: rgb(255,255,0) }
.Particulatematter_40_45     { stroke:none; fill: rgb(245,200,0) }
.Particulatematter_45_50     { stroke:none; fill: rgb(245,180,0) }
.Particulatematter_50_55     { stroke:none; fill: rgb(240,116,0) }
.Particulatematter_55_60     { stroke:none; fill: rgb(240,83,80) }
.Particulatematter_60_65     { stroke:none; fill: rgb(255,0,0) }
.Particulatematter_65_70     { stroke:none; fill: rgb(156,2,20) }
.Particulatematter_70_inf    { stroke:none; fill: rgb(170,27,227) }
