.Precipitation_000_001	{ stroke:none; fill: rgb(5,179,138) }
.Precipitation_001_002	{ stroke:none; fill: rgb(2,212,149) }
.Precipitation_002_004  { stroke:none; fill: rgb(138,237,187) }
.Precipitation_004_006	{ stroke:none; fill: rgb(204,255,208) }	
.Precipitation_006_008	{ stroke:none; fill: rgb(235,252,207) }
.Precipitation_008_010	{ stroke:none; fill: rgb(235,255,122) }
.Precipitation_010_015	{ stroke:none; fill: rgb(255,234,128) }
.Precipitation_015_020	{ stroke:none; fill: rgb(247,212,35) }
.Precipitation_020_025	{ stroke:none; fill: rgb(245,180,0) }
.Precipitation_025_030	{ stroke:none; fill: rgb(242,149,0) }
.Precipitation_030_035	{ stroke:none; fill: rgb(240,116,0) }
.Precipitation_035_040	{ stroke:none; fill: rgb(255,83,36) }
.Precipitation_040_045	{ stroke:none; fill: rgb(247,23,7) }
.Precipitation_045_050	{ stroke:none; fill: rgb(219,10,7) }
.Precipitation_050_055	{ stroke:none; fill: rgb(189,4,4) }
.Precipitation_055_060	{ stroke:none; fill: rgb(156,2,20) }
.Precipitation_060_070	{ stroke:none; fill: rgb(196,24,98) }
.Precipitation_070_080	{ stroke:none; fill: rgb(232,39,120) }
.Precipitation_080_090	{ stroke:none; fill: rgb(245,88,174) }
.Precipitation_090_100	{ stroke:none; fill: rgb(240,144,216) }
.Precipitation_100_inf	{ stroke:none; fill: rgb(247,59,213) }
