.Radiation_inf_50	{ stroke:none; fill: rgb(4,18,179) }
.Radiation_50_45	{ stroke:none; fill: rgb(24,49,214) }
.Radiation_45_40	{ stroke:none; fill: rgb(56,104,235) }
.Radiation_40_35	{ stroke:none; fill: rgb(111,154,247) }
.Radiation_35_30	{ stroke:none; fill: rgb(148,178,242) }
.Radiation_30_25	{ stroke:none; fill: rgb(60,100,170) }
.Radiation_25_20  	{ stroke:none; fill: rgb(0,100,160) }
.Radiation_20_15  	{ stroke:none; fill: rgb(0,155,186) }
.Radiation_15_10	{ stroke:none; fill: rgb(103,219,230) }
.Radiation_10_5	        { stroke:none; fill: rgb(163,243,247) }
.Radiation_5_0          { stroke:none; fill: rgb(212,255,255) }
.Radiation_0_5          { stroke:none; fill: rgb(255,234,128) }
.Radiation_5_10	        { stroke:none; fill: rgb(247,212,35) }
.Radiation_10_15	{ stroke:none; fill: rgb(242,149,0) }
.Radiation_15_20	{ stroke:none; fill: rgb(240,116,0) }
.Radiation_20_25	{ stroke:none; fill: rgb(255,83,36) }
.Radiation_25_30	{ stroke:none; fill: rgb(247,23,7) }
.Radiation_30_35	{ stroke:none; fill: rgb(219,10,7) }
.Radiation_35_40	{ stroke:none; fill: rgb(189,4,4) }
.Radiation_40_45	{ stroke:none; fill: rgb(156,2,20) }
.Radiation_45_50	{ stroke:none; fill: rgb(196,24,98) }
.Radiation_50_inf	{ stroke:none; fill: rgb(232,39,120) }
