.TCemissions_50_inf     { stroke:none; fill: rgb(80,2,20) }
.TCemissions_30_50 	{ stroke:none; fill: rgb(156,2,20) }
.TCemissions_20_30 	{ stroke:none; fill: rgb(219,10,7) }
.TCemissions_10_20 	{ stroke:none; fill: rgb(240,116,0) }
.TCemissions_7_10 	{ stroke:none; fill: rgb(245,170,0) }
.TCemissions_5_7  	{ stroke:none; fill: rgb(247,212,35) }
.TCemissions_45_5 	{ stroke:none; fill: rgb(255,234,128) }
.TCemissions_4_45      	{ stroke:none; fill: rgb(180,238,144) }
.TCemissions_35_4   	{ stroke:none; fill: rgb(5,179,138) }
.TCemissions_3_35     	{ stroke:none; fill: rgb(0,128,100) }
.TCemissions_25_3   	{ stroke:none; fill: rgb(0,0,200) }
.TCemissions_2_25   	{ stroke:none; fill: rgb(56,80,171) }
.TCemissions_15_2   	{ stroke:none; fill: rgb(17,141,250) }
.TCemissions_1_15   	{ stroke:none; fill: rgb(163,243,247) }
.TCemissions_inf_1  	{ stroke:none; fill: rgb(230,230,230) }
