.UVindex_18_inf { stroke:none; fill: rgb(255,255,255) }
.UVindex_15_18 { stroke:none; fill: rgb(34,188,212) }
.UVindex_13_15 { stroke:none; fill: rgb(163,243,247) }
.UVindex_11_13 { stroke:none; fill: rgb(147,112,219) }
.UVindex_10_11 { stroke:none; fill: rgb(218,112,214) }
.UVindex_9_10 { stroke:none; fill: rgb(255,10,255) }
.UVindex_8_9 { stroke:none; fill: rgb(219,10,7) }
.UVindex_7_8 { stroke:none; fill: rgb(255,83,36) }
.UVindex_6_7 { stroke:none; fill: rgb(240,116,0) }
.UVindex_5_6 { stroke:none; fill: rgb(245,170,0) }
.UVindex_4_5 { stroke:none; fill: rgb(247,212,35) }
.UVindex_3_4 { stroke:none; fill: rgb(255,255,0) }
.UVindex_2_3 { stroke:none; fill: rgb(154,205,50) }
.UVindex_1_2 { stroke:none; fill: rgb(0,128,0) }
.UVindex_0_1 { stroke:none; fill: rgb(128,128,128) }
